<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
<!--<h1>-->
<!--Welcome to {{ title }}!-->
<!--</h1>-->
<!--<img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">-->
<!--</div>-->

<div class="ui grid one column padded">
  <div class="ui grid">

    <div class="ui one row padded">
      <div class="column" style="margin: 5px; padding-bottom: 10px; width: 180px;">
        <app-pose name="Begin"></app-pose>
      </div>
      <div class=" column" style="margin: 5px; padding-bottom: 10px; width: 180px;">
        <app-pose name="End"></app-pose>
      </div>
    </div>
  </div>

  <div class="ui one row padded" style="margin-left: 10px">
    <div class="ui tiny menu">
      <div class="left menu">
        <div class="item">
          <div class="ui transparent labeled  button padded" style="margin-right: 37px">
            <i class="play icon"></i>
            Run</div>
        </div>
      </div>
      <a class="item">
        <i class="edit icon"></i>
        Base
      </a>
      <a class="item">
        <i class="wrench icon"></i>
        Tool
      </a>
      <a class="item">
        <i class="world icon"></i>
        Environment
      </a>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
